/*  */
#edit-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--semi-dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#edit-form-container .edit-form {
  width: 700px;
  max-width: 95%;
}

#edit-form-container .card {
  border: none;
}

#edit-form-container .card-header {
  display: flex;
  align-items: center;
  background: var(--primary);
}

#edit-form-container h2 {
  flex-grow: 1;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

#edit-form-container .close-btn-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-form-container i {
  font-size: 1.3rem;
  color: var(--semi-dark);
  transition: color 0.2s;
}

#edit-form-container i:hover {
  color: #111;
}

#edit-form-container span {
  font-size: 0.9rem;
}
