/*  */
#notes-component {
  flex-grow: 1;
}

#notes-component .notes-container {
  display: flex;
  flex-wrap: wrap;
}

#notes-component .card {
  width: 270px;
  margin: 0.5rem;
}

#notes-component .card-header {
  background: var(--primary);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#notes-component h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  flex-grow: 1;
}

#notes-component .card-body {
  display: flex;
  flex-direction: column;
}

#notes-component .card-body p {
  flex-grow: 1;
}

#notes-component .card-body button {
  max-width: max-content;
}

@media screen and (max-width: 767px) {
  #notes-component .notes-container {
    justify-content: space-evenly;
  }
  #notes-component .card {
    width: 100%;
  }
}
